mysql_connector_python==8.0.33
python_gnupg==0.5.0
appleconnector==0.4.0
spotifyconnector==0.8.2
anchorconnector==0.6.2
autopep8==1.7.0
backoff==1.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
idna==3.4
loguru==0.6.0
monotonic==1.6
pycodestyle==2.9.1
python-dateutil==2.8.2
PyYAML==6.0.2
requests==2.28.1
six==1.16.0
tenacity==8.1.0
toml==0.10.2
urllib3==1.26.12
pytest>=8.4.0
pytest-cov>=6.2.0 --prefer-binary
requests==2.28.1
six==1.16.0
tenacity==8.1.0
toml==0.10.2
urllib3==1.26.12