export MYSQL_HOST=localhost
export MYSQL_PORT=33006
export MYSQL_USER=openpodcast
export MYSQL_PASSWORD=openpodcast
export MYSQL_DATABASE=openpodcast_auth
export OPENPODCAST_ENCRYPTION_KEY=supersecret