# OpenPodcast API related env variables
OPENPODCAST_API_ENDPOINT=<OPENPODCAST_API_ENDPOINT>
OPENPODCAST_API_TOKEN=<OPENPODCAST_API_TOKEN>

# Spotify API related env variables

# endpoint and client is should be the same for all users
# those defaults are also set in the code and can be therefore omitted
SPOTIFY_BASE_URL=https://generic.wg.spotify.com/podcasters/v0
SPOTIFY_CLIENT_ID=05a1371ee5194c27860b3ff3ff3979d2

SPOTIFY_PODCAST_ID=<SPOTIFY_PODCAST_ID>
SPOTIFY_SP_DC=<SPOTIFY_SP_DC>
SPOTIFY_SP_KEY=<SPOTIFY_SP_KEY>

# stores all received data also in local json files iff True
STORE_DATA=False
