name: Spotify Engineering Kiosk Import
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      start:
        description: "Start date"
        required: false
        type: string
      end:
        description: "End date"
        required: false
        type: string
  schedule:
    - cron: "00 11 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./spotify
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run Connector
        run: make run
        env:
          OPENPODCAST_API_ENDPOINT: https://api.openpodcast.dev
          OPENPODCAST_API_TOKEN: ${{ secrets.OPENPODCAST_API_TOKEN_ENGINEERING_KIOSK }}
          SPOTIFY_PODCAST_ID: ${{ secrets.SPOTIFY_PODCAST_ID_ENGINEERING_KIOSK }}
          SPOTIFY_SP_DC: ${{ secrets.SPOTIFY_SP_DC_ENGINEERING_KIOSK }}
          SPOTIFY_SP_KEY: ${{ secrets.SPOTIFY_SP_KEY_ENGINEERING_KIOSK }}
          START_DATE: ${{ inputs.start }}
          END_DATE: ${{ inputs.end }}
          PODCAST_ENDPOINTS: ${{ inputs.podcast_endpoints }}
          EPISODE_ENDPOINTS: ${{ inputs.episode_endpoints }}
          STORE_DATA: ${{ inputs.debug }}

      - name: Commit data
        uses: stefanzweifel/git-auto-commit-action@v4.1.2
        with:
          branch: ${{ github.head_ref }}
          commit_message: Fetch Spotify data
          commit_user_name: Open Podcast Bot
          commit_user_email: bot@openpodcast.dev
          commit_author: Open Podcast Bot <bot@openpodcast.dev>
